/* Reset default margin, padding, and box-sizing */

/* Ensure the body takes full screen height */
body {
  margin: 0 !important;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* Make the root container fill the screen */
